# hide providers and tfstate files
infrastructure/*/.terraform
infrastructure/*/.terraform.lock.hcl
infrastructure/*/*.tfstate*
# hide credentials
infrastructure/*/*.tfvars
infrastructure/*/*.json
# hide kubespray and prometheus folders
infrastructure/kubespray
infrastructure/kube_prometheus
